<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />


  </head>
  <body>
    <div class="container"></div>
      <div  class="jumbotron">
        <h1>User Dashboard</h1>
      </div>
  </div>
  <div class= container>
    <p>Welcome to Users Page</p>
    <form method="POST" action="/users/add">
    	<label>Enter your first name</label>
    	<input type="text" name="firstName" id="firstName" placeholder="firstname"/>
    	<label>Enter your last name</label>
    	<input type="text" name="lastName" id="lastName" placeholder="lastname"/>
    	<input type="submit" value="Click to submit"/>
    </form>
  </div>

    <h1> Pending Deliveries </h1>
    <% orders.forEach(function(order) { %>
        <% if (order.status == "PENDING") { %>
        <li><%= order.name %> - <%= order.quantity %></li>
        <% } %>
    <% }); %>
    <br>
    <br>

    <h1> Delivered </h1>

    <% orders.forEach(function(order) { %>
        <% if (order.status == "DELIVERED") { %>
        <li><%= order.name %> - <%= order.quantity %></li>
        <% } %>
    <% }); %>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>